.card{
  display: inline-block;
  background-color: rgb(218, 218, 218);
  width:200px;
  height: 180px;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 2px 8px 6px rgb(71, 71, 71);
}
.card:hover{
  box-shadow: 2px 8px 10px rgb(71, 71, 71);
}
.card>div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card>div>img{
  flex:1;
  width:100%;
  height:90%;
}
.card>div>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: tomato;
  height:10%;
  padding: 7px;
  border-radius:0px 0px 4px 4px;

}
.cards-container{
  padding: 10px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:rgb(255, 212, 212);
  box-shadow: 2px 2px 6px rgb(71, 71, 71);
  padding-left: 10px;
  padding-right: 10px;

}
.header-cart{
  background-color: tomato;
  border-radius: 4px;
}
body{
  font-family: monospace;
}
.btn-circle{
  border-radius: 10px;
  border:0px;
  background-color: tomato;
  height:30px;
  width: 30px;
  margin-right: 20px;
}